<ul class="main-menu">
    <li class="{{menu.pages}} menu-item">
        <a ng-click="activeMenuItem('pages')" ui-sref="pages">
            <i class="md md-now-widgets"></i>
            Акции
        </a>
    </li>
    <li class="{{menu.orders}} menu-item">
        <a ng-click="activeMenuItem('pages')" ui-sref="orders">
            <i class="md md-shopping-basket"></i>
            Мои вознаграждения
        </a>
    </li>
    <li class="{{menu.message}} menu-item">
        <a ng-click="activeMenuItem('pages')" ui-sref="messages">
            <i class="md md-local-post-office"></i>
            Мои сообщения
        </a>
    </li>
    <li class="{{menu.settings}} menu-item">
        <a ng-click="activeMenuItem('pages')" ui-sref="settings">
            <i class="md md-settings"></i>
            Мои настройки
        </a>
    </li>

</ul>