<div class="row">

    <div class="col-sm-4" ng-repeat="item in items">
        <div class="card">
            <div class="card picture-list">
                <div class="card-header">
                    <h2>{{item.name}} <small>description</small></h2>

                    <ul class="actions" ng-if="item.isAdmin">
                        <li class="dropdown action-show">
                            <a href="" data-toggle="dropdown">
                                <i class="md md-more-vert"></i>
                            </a>

                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="">Редактировать акцию</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="card-body card-padding">
                    <img src="main_template/img/headers/sm/1.png" alt="" width="100%">
                    <div class="row" style="">
                        <div class="col-xs-12">
                            <a ng-click="goToPage(item.code)">
                            <button class="btn bgm-cyan" style="width:100%; margin-top:12px;">Перейти</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /col-md-4 -->

</div>

